.manage-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  table {
    width: 100%;
    background: white;
  }

  .verified-badge {
    font-size: 18px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-left: 4px;
  }

  .status-verified {
    color: #3f51b5;
    font-weight: bold;
  }
}